.header__button {
  &:hover {
    background-color: rgb(32, 190, 0);
  }
}

button.header__button {
  &:hover {
    background-color: rgb(32, 190, 0);
  }
  &--active {
    color: black;
    background-color: rgb(255, 255, 255);
  }
}

.header__category {
  &:hover {
    color: black;
    background-color: yellow;
  }
  &--active {
    color: white;
    background-color: rgb(248, 7, 7);
  }
}