button.header__button {

  &--active {
    color: black;
    background-color: rgb(255, 255, 255);
  }
}

.header__category {

  &--active {
    color: black;
    background-color: rgb(255, 255, 255);
  }
}